---
http_interactions:
- request:
    method: get
    uri: https://minutedock.com/api/v1/tasks.json?api_key=<MINUTE DOCK API KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"76cf5316b5615c246cc9f32999142893"
      Status:
      - '200'
    body:
      encoding: UTF-8
      string: '[{"id":62018,"name":"admin","description":null,"short_code":"admin","has_detail":false,"detail_name":null,"hidden":false,"default_rate_dollars":""},{"id":62035,"name":"Analysis","description":"","short_code":"analysis","has_detail":false,"detail_name":null,"hidden":false,"default_rate_dollars":""},{"id":62233,"name":"Architecture
        ","description":"","short_code":"arch","has_detail":false,"detail_name":null,"hidden":false,"default_rate_dollars":""},{"id":71559,"name":"Business
        development","description":"","short_code":"business_development","has_detail":false,"detail_name":null,"hidden":false,"default_rate_dollars":""},{"[...]
