---
http_interactions:
- request:
    method: get
    uri: https://minutedock.com/api/v1/projects.json?api_key=<MINUTE DOCK API KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"06d327f2f535bd9c3fdefe29e8c11fab"
      Status:
      - '200'
    body:
      encoding: UTF-8
      string: '[{"id":15153,"contact_id":227025,"name":"ConnectedHealth","short_code":"hccc","pinned":false,"hidden":false,"description":"","default_rate_dollars":"","active":true},{"id":15154,"contact_id":227041,"name":"Red
        Stamp Legacy","short_code":"rslegacy","pinned":false,"hidden":false,"description":"","default_rate_dollars":"","active":true},{"id":15155,"contact_id":227052,"name":"Viva
        La Card","short_code":"viva_la_card","pinned":false,"hidden":false,"description":"","default_rate_dollars":"","active":true},{"id":15156,"contact_id":227038,"name":"IAT","short_code":"iat","pinned":false,"hidden":false,"description":"","default_rate_dollars":"","[...]
