---
http_interactions:
- request:
    method: get
    uri: https://minutedock.com/api/v1/entries/current.json?api_key=<MINUTE DOCK API
      KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"462040d34ad25de73b0a34bca482286a"
      Status:
      - '200'
    body:
      encoding: UTF-8
      string: '{"id":6249415,"duration":0,"contact_id":null,"account_id":15865,"description":"","updated_at":"2016-09-30T17:44:10.000-03:00","invoice_id":null,"logged_at":null,"log_at":"2016-09-29T17:44:09.000-03:00","project_id":null,"user_account_id":29148,"user_id":<MINUTE
        DOCK USER ID>,"logged":false,"timer_active":false,"task_ids":[],"version_id":"fc214b620270c44359d7a6243882dc2ac1912eea","version_client_id":"9536387a510bc5bc008acd1aef2b698c","version_number":1}'
  recorded_at: Sun, 02 Oct 2016 20:07:46 GMT
recorded_with: VCR 3.0.3
