---
http_interactions:
- request:
    method: post
    uri: https://minutedock.com/api/v1/entries.json?api_key=<MINUTE DOCK API KEY>
    body:
      encoding: UTF-8
      string: user_id=<MINUTE DOCK USER ID>&entry[duration]=1600&entry[description]=test%20entry
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"04f2e0cdf0b24bd26427901a1e569395"
      Status:
      - '200'
    body:
      encoding: UTF-8
      string: '{"id":6251500,"duration":1600,"contact_id":null,"account_id":15865,"description":"test
        entry","updated_at":"2016-10-02T12:22:53.921-02:00","invoice_id":null,"logged_at":"2016-10-02T12:22:53.909-02:00","log_at":null,"project_id":null,"user_account_id":29148,"user_id":<MINUTE
        DOCK USER ID>,"logged":true,"timer_active":false,"task_ids":[]}'
  recorded_at: Sun, 02 Oct 2016 14:22:53 GMT
recorded_with: VCR 3.0.3
